NODERED-LED-Matrix/examples.json
[
    {
        "id": "simple-tab",
        "type": "tab",
        "label": "LED Matrix - Simplified Syntax",
        "disabled": false,
        "info": "One node, flat message structure: msg.layout, msg.brightness, msg.text"
    },
    {
        "id": "inject-hello",
        "type": "inject",
        "z": "simple-tab",
        "name": "Hello",
        "props": [
            {
                "p": "text",
                "v": "Hello World",
                "vt": "str"
            },
            {
                "p": "segment",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "color",
                "v": "00FF00",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "led-node"
            ]
        ]
    },
    {
        "id": "inject-layout-quad",
        "type": "inject",
        "z": "simple-tab",
        "name": "Quad Layout",
        "props": [
            {
                "p": "layout",
                "v": "7",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "led-node"
            ]
        ]
    },
    {
        "id": "inject-layout-full",
        "type": "inject",
        "z": "simple-tab",
        "name": "Fullscreen",
        "props": [
            {
                "p": "layout",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "led-node"
            ]
        ]
    },
    {
        "id": "inject-bright",
        "type": "inject",
        "z": "simple-tab",
        "name": "Bright",
        "props": [
            {
                "p": "brightness",
                "v": "255",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "led-node"
            ]
        ]
    },
    {
        "id": "inject-dim",
        "type": "inject",
        "z": "simple-tab",
        "name": "Dim",
        "props": [
            {
                "p": "brightness",
                "v": "50",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "led-node"
            ]
        ]
    },
    {
        "id": "inject-clear",
        "type": "inject",
        "z": "simple-tab",
        "name": "Clear All",
        "props": [
            {
                "p": "clear",
                "v": "all",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "led-node"
            ]
        ]
    },
    {
        "id": "inject-clear-seg",
        "type": "inject",
        "z": "simple-tab",
        "name": "Clear Seg 0",
        "props": [
            {
                "p": "clear",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "led-node"
            ]
        ]
    },
    {
        "id": "led-node",
        "type": "led-matrix",
        "z": "simple-tab",
        "name": "LED Matrix",
        "ip": "10.1.1.24",
        "port": "21324",
        "x": 350,
        "y": 260,
        "wires": [[]]
    },
    {
        "id": "inject-clock",
        "type": "inject",
        "z": "simple-tab",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "format-time"
            ]
        ]
    },
    {
        "id": "format-time",
        "type": "function",
        "z": "simple-tab",
        "name": "Time",
        "func": "msg.text = new Date().toLocaleTimeString('en-US', {\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n    hour12: false\n});\nmsg.segment = 0;\nmsg.color = \"00FFFF\";\nmsg.font = \"mono\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 540,
        "wires": [
            [
                "led-node"
            ]
        ]
    },
    {
        "id": "inject-multi",
        "type": "inject",
        "z": "simple-tab",
        "name": "Multi Seg",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 640,
        "wires": [
            [
                "multi-function"
            ]
        ]
    },
    {
        "id": "multi-function",
        "type": "function",
        "z": "simple-tab",
        "name": "4 Segments",
        "func": "return [\n    { text: \"Seg 0\", segment: 0, color: \"FF0000\" },\n    { text: \"Seg 1\", segment: 1, color: \"00FF00\" },\n    { text: \"Seg 2\", segment: 2, color: \"0000FF\" },\n    { text: \"Seg 3\", segment: 3, color: \"FFFF00\" }\n];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 640,
        "wires": [
            [
                "led-node"
            ],
            [
                "led-node"
            ],
            [
                "led-node"
            ],
            [
                "led-node"
            ]
        ]
    },
    {
        "id": "comment-text",
        "type": "comment",
        "z": "simple-tab",
        "name": "Text: msg.text or msg.payload",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "comment-layout",
        "type": "comment",
        "z": "simple-tab",
        "name": "Layout: msg.layout = 1-7, 11-14",
        "info": "",
        "x": 170,
        "y": 120,
        "wires": []
    },
    {
        "id": "comment-bright",
        "type": "comment",
        "z": "simple-tab",
        "name": "Brightness: msg.brightness = 0-255",
        "info": "",
        "x": 180,
        "y": 240,
        "wires": []
    },
    {
        "id": "comment-clear",
        "type": "comment",
        "z": "simple-tab",
        "name": "Clear: msg.clear = 'all' or segment number",
        "info": "",
        "x": 200,
        "y": 360,
        "wires": []
    },
    {
        "id": "comment-clock",
        "type": "comment",
        "z": "simple-tab",
        "name": "Real-time clock",
        "info": "",
        "x": 120,
        "y": 500,
        "wires": []
    },
    {
        "id": "comment-multi",
        "type": "comment",
        "z": "simple-tab",
        "name": "Multiple outputs to same node",
        "info": "",
        "x": 160,
        "y": 600,
        "wires": []
    }
]
